/* COLOR PALETTE */
$primary-clr-100: rgb(245, 245, 245);
$primary-clr-200: rgb(233, 216, 253);
$primary-clr-500: rgb(167, 98, 246);
$primary-clr-800: rgb(130, 23, 207);
$primary-clr-900: rgb(84, 10, 138);
